@model IEnumerable<Assessment6Mock.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}

<h1>Index</h1>

<p>
    <a asp-action="Employees"></a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-4">
        <form asp-action="RetirementInfo">
            <div class="form-group">
                <h6>Search for Employee by ID</h6>
                <label Id="Id" class="control-label"></label>
                <input Id="Id" name="Id" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
