@model IEnumerable<Assessment6Mock.Models.Employee>
@{

    ViewData["Title"] = "Results";

}

<h1>@ViewData["Title"]</h1>


<label>Can Retire?</label>
<h3>@ViewBag.CanRetire</h3>

<label>Benefits</label>
<h3>@ViewBag.Benefits</h3>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
            </tr>
        }
    </tbody>
</table>*@